@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.container .row .latest-news {
    background: #F3F3F3;

}

 .box {
    display: flex;
    border-bottom: 2px dashed gray;
    margin: 20px 0;
}

 .box .box-content {
    padding: 0 15px;
    padding-bottom: 20px;
}

 .box .box-content p {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-align: left;
    font-family: "DM Sans", sans-serif;
    color: #565656;

}

 .box .box-content h5 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #565656;

}

 .box .box-content h5 span {
    border-right: 4px solid orange;
    padding: 0 10px;
    margin-right: 10px;
}

 .box .box-content h4 {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: left;

}
.img-section{
    position: relative;
}
.img-section img{
    height: 100%;
    width: 100%;
}
.img-section .content-img{
    position: absolute;
    bottom: 10px;
    color: white;
    padding: 20px;
}
.img-section .content-img span{
    border-right: 5px solid orange;
    padding-right: 10px;
    margin-right: 10px;
}
@media only screen and (max-width:600px) {
     .box {
        display: block;
    }
    .box .box-content {
        padding:10px 0;
    }
}